.banner {
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;

}

.banner-left {
    margin-right: 8px;
    width: 742px;
    height: 552px;
    overflow: hidden;
}

.background-left {
    width: 742px;
    height: 100%;
    background: url('/image/Image.png') center/cover no-repeat;
    position: relative;
}

.text {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: #fff;
}

.text p {
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
}

.uppercase {
    text-transform: uppercase;

}

.arrows-left {
    position: absolute;
    bottom: 50%;
    left: 32px;

}

.arrows-right {
    position: absolute;
    bottom: 50%;
    right: 32px;

}

.small-text {
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-text p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

.small-text img {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.divider {
    margin: 0 9px 0 8px;
}

.country {
    position: absolute;
    left: 32px;
    top:32px;
    background-color: #FF2A0D;
    padding: 4px 8px 4px 8px;
}

.country p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12;
    line-height: 16px;
    color: #ffffff;
}

.banner-right-top {
    margin-bottom: 8px;
    width: 360px;
    height: 272px;
    overflow: hidden;
}
.background-right-top{
    width: 360px;
    height: 100%;
    background: url('/image/Image1.png') center/cover no-repeat;
    position: relative;
}
.text-right-top{
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #fff;
}
.text-right-top p{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.small-text-right-top{
    position: absolute;
    bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-text-right-top p{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}
.small-text-right-top img{
    margin-right: 8px;
    height: 20px;
    width: 20px;
}
.country-right-top{
    position: absolute;
    left: 24px;
    top:28px;
    background-color: #047FFA;
    padding: 4px 8px 4px 8px;
}
.country-right-top p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12;
    line-height: 16px;
    color: #ffffff;
}
.bg-color{
background-color: #CE0CFF;
}
.backgroundImg{
    background: url('/image/Image2.png') center/cover no-repeat;
}