.footer-bg {
    background-color: #0A0A0A;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 48px;
}

.footer-container {
    display: flex;
    gap: 90px;
    margin-bottom: 48px;
}

.footer-right {
    display: flex;
    gap: 40px;
}

.logo {
    width: 313px;
}

.logo p {
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.quick-link {
    width: 160px;
}

.quick-link-head {
    border-bottom: 1px solid #666666;
    padding-bottom: 7px;
    position: relative;
}

.border-color {
    position: absolute;
    height: 2px;
    width: 65px;
    background-color: #047FFA;
    bottom: 0;
}

.quick-link-head p {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.links {
    margin-top: 22px;
}

.links p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
}
.popular-post{
    width: 276px;
}
.popular-post-card-container{
    margin-top: 36px;
}



.popular-post-card {
    display: flex;
    gap: 14px;
    align-items: center;
}

.popular-post-card img {
    height: 94px;
    width: 94px;
}

.popular-post-card-small-text {
    display: flex;
    align-items: center;

}

.popular-post-card-small-text img {

    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.popular-post-card-small-text p {
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.popular-post-card-text p {
    font-weight: 700;
    font-size: 14px;
    margin-top: 6px;
    line-height: 22px;
    color: #FFFFFF;

}
.footer-divider{
    height: 1px;
    background-color: #666666;
    margin-top: 24px;
    margin-bottom: 24px;
}
.most-read{
    width: 191px;
}
.most-read-container{
    margin-top: 37px;
}


.most-read-card {
    display: flex;
    gap: 14px;
    align-items: center;
}


.most-read-card-small-text {
    display: flex;
    align-items: center;

}

.most-read-card-small-text img {

    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.most-read-card-small-text p {
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}

.most-read-card-text p {
    font-weight: 700;
    font-size: 14px;
    margin-top: 6px;
    line-height: 22px;
    color: #FFFFFF;

}